$standard-font: Arial;
$standard-color: #333;
$standard-font-size: 14pt;

%content {
    font: $standard-font;
    font-family: sans-serif;
    font-size: $standard-font-size;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

body {
    font-size: $standard-font-size;
}

ul {
    font-size: 20pt;
}

#content {
    @extend %content;
}

.content {
    @extend %content;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $standard-color;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
