<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>Deutsch</title>
    </head>

    <body>
        <ul id="navbar">
            <li><a id="navbarlist" href="index.html">Home</a></li>
            <li><a id="navbarlist" href="reading.html">Reading</a></li>
            <li><a id="navbarlist" href="ultimate.html">Ultimate</a></li>
            <li><a id="navbarlist" href="videogames.html">Video Games</a></li>
            <li><a id="navbarlist" href="deutsch.html">Deutsch</a></li>
            <li><a id="navbarlist" href="bootstrap.html">Bootstrap</a></li>
        </ul>
        <div id="content">
            Hallo! Willkommen zu meinem deutschen Blog. Ich spreche ein bisschen Deutsch.
            <br>
            <br>
            Ich habe in Deutschland im Ausland studiert und die Sprache weiter gelernt!
            <br>
            <br>
            Ich hoere den Podcast, Coffee Break German von Radio Lingua!
        </div>
    </body>
</html>
