<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <title>JT Williams</title>
    </head>

    <body>
        <nav>
          <div>
            <div>
              <a href="index.html">Home</a>
            </div>
            <div>
                <a href="reading.html">Reading</a>
            </div>
            <div>
                <a href="ultimate.html">Ultimate</a>
            </div>
            <div>
                <a href="videogames.html">Video Games</a>
            </div>
            <div>
                <a href="deutsch.html">Deutsch</a>
            </div>
            <div>
                <a href="bootstrap.html">Bootstrap</a>
            </div>
          </div>
        </nav>
        <div>
            <div>
                My name is Jon Thomas Williams. I am a native Memphian with an interest in all things tech.
                My hobbies include reading, ultimate, traveling, video games, and learning new languages.
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th style="width: 20%"><a href="reading.html">Reading</a></th>
                    <th style="width: 20%"><a href="ultimate.html">Ultimate</a></th>
                    <th style="width: 20%"><a href="videogames.html">Video Games</a></th>
                    <th style="width: 20%"><a href="deutsch.html">German</a></th>
                    <th style="width: 20%"><a href="bootstrap.html">Bootstrap</a></th>
                </tr>
                <tr>
                    <td>I am currently reading Zero to One by Peter Thiel.</td>
                    <td>I coach for the Men's Club Ultimate Team at The Univesity of Memphis.</td>
                    <td>I have a PS4 and really enjoy the Battlefield series.</td>
                    <td>I am currently learning German in my spare time. Ich spreche ein bisschen Deutsche.</td>
                    <td>Bootstrap is fun to learn.</td>
                </tr>
            </table>
        </div>
    </body>
</html>
