<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <title>JT Williams</title>
    </head>

    <body>
        <ul id="navbar">
            <li><a id="navbarlist" href="index.html">Home</a></li>
            <li><a id="navbarlist" href="reading.html">Reading</a></li>
            <li><a id="navbarlist" href="ultimate.html">Ultimate</a></li>
            <li><a id="navbarlist" href="videogames.html">Video Games</a></li>
            <li><a id="navbarlist" href="deutsch.html">Deutsch</a></li>
            <li><a id="navbarlist" href="bootstrap.html">Bootstrap</a></li>
        </ul>
        <p id="content">
                My name is Jon Thomas Williams. I am a native Memphian with an interest in all things tech.
                My hobbies include reading, ultimate, traveling, video games, and learning new languages. I also enjoy
                learning Bootstrap!
        </p>
        <div id="content">
            <table>
                <tr>
                    <th style="width: 20%" class="content"><a href="reading.html">Reading</a></th>
                    <th style="width: 20%" class="content"><a href="ultimate.html">Ultimate</a></th>
                    <th style="width: 20%" class="content"><a href="videogames.html">Video Games</a></th>
                    <th style="width: 20%" class="content"><a href="deutsch.html">German</a></th>
                    <th style="width: 20%" class="content"><a href="bootstrap.html">Bootstrap</a></th>
                </tr>
                <tr>
                    <td class="content">I am currently reading Zero to One by Peter Thiel.</td>
                    <td class="content">I coach for the Men's Club Ultimate Team at The Univesity of Memphis.</td>
                    <td class="content">I have a PS4 and really enjoy the Battlefield series.</td>
                    <td class="content">I am currently learning German in my spare time. Ich spreche ein bisschen Deutsche.</td>
                    <td class="content">Bootstrap is fun to learn.</td>
                </tr>
            </table>
        </div>
        <div id="content">
            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/02/25/17/memphis.jpg" alt="Memphis">
        </div>
    </body>
</html>
