<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <title>JT Williams</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <a href="index.html"><span class="blue">JT Williams</span></a>
            <div class="container">
                <ul class="container">
                    <li><a href="reading.html">Reading</a></li>
                    <li><a href="ultimate.html">Ultimate</a></li>
                    <li><a href="videogames.html">Video Games</a></li>
                    <li><a href="deutsch.html">Deutsche</a></li>
                    <li><a href="bootstrap.html">Bootstrap</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    My name is Jon Thomas Williams. I am a native Memphian with an interest in all things tech.
                    My hobbies include reading, ultimate, traveling, video games, and learning new languages.
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm">
                I am currently reading Steve Jobs by Walter Isaacson. Check out my reading list <a href="reading.html">here</a> to see books I have read and recommend!
            </div>
            <div class="col-sm">
                I am currently coaching the University of Memphis Club Ultimate Team. You can visit my coaching blog <a href="ultimate.html">here</a>!
            </div>
            <div class="col-sm">
                In my spare time, I am learning how to speak German. I listen to the Coffee Break German podcast and try to supplement this with the Duolingo course.
                You can find a brief blog of my German <a href="deutsch.html">here</a>!
            </div>
            <div class="col-sm">
                As for video games, I am excited to be playing Battlefield V. I am a total video game nerd, and my favorite franchise is Battlefield. For more about video games I play, check out my Video Game blog <a href="videogames.html">here</a>!
            </div>
          </div>
        </div>
    </body>
</html>
