<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>Reading</title>
    </head>

    <body>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="reading.html">Reading</a></li>
            <li><a href="ultimate.html">Ultimate</a></li>
            <li><a href="videogames.html">Video Games</a></li>
            <li><a href="deutsch.html">Deutsch</a></li>
            <li><a href="bootstrap.html">Bootstrap</a></li>
        </ul>
        <div id="content">
            Hello, world! This is my reading list.
        </div>
    </body>
</html>
