<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Reading</title>
    </head>

    <body>
        <nav>
            <a href="index.html"><span class="blue">JT Williams</span></a>
        </nav>
        <div id="navbar">
            <ul>
                <li><a href="reading.html">Reading</a></li>
                <li><a href="ultimate.html">Ultimate</a></li>
                <li><a href="videogames.html">Video Games</a></li>
                <li><a href="deutsch.html">Deutsche</a></li>
            </ul>
        </div>
        <div>
            Hello, world! This is my reading list.
        </div>
    </body>
</html>
