<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>JT Williams</title>
    </head>

    <body>
        <nav>
            <a href="index.html"><span class="blue">JT Williams</span></a>
        </nav>
        <div id="navbar">
            <ul>
                <li><a href="reading.html">Reading</a></li>
                <li><a href="ultimate.html">Ultimate</a></li>
                <li><a href="videogames.html">Video Games</a></li>
                <li><a href="deutsch.html">Deutsche</a></li>
            </ul>
        </div>
        <div>
            My name is Jon Thomas Williams. I am a native Memphian with an interest in all things tech.
            My interests include reading, ultimate, traveling, video games, and learning new languages.
            <br/>
            I am currently reading Steve Jobs by Walter Isaaacson. Check out my reading list here to see books I have read and recommend.
            <br/>
            I am currently coaching the University of Memphis Club Ultimate Team. You can visit our Facebook page here.
            <br/>
            In my spare time, I am learning how to speak German. I listen to the Coffee Break German podcast and try to supplement this with the Duolingo course.
            You can find a brief blog of my German here!
            <br/>
            As for video games, I am excited for the release of Battlefield V. I am a total video game nerd, and my favorite franchise is Battlefield. For more about video games I play, check out my Video Game blog here!
        </div>
        <main>

        </main>
    </body>
</html>
