<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>JT Williams</title>
    </head>

    <body>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="reading.html">Reading</a></li>
            <li><a href="ultimate.html">Ultimate</a></li>
            <li><a href="videogames.html">Video Games</a></li>
            <li><a href="deutsch.html">Deutsch</a></li>
            <li><a href="bootstrap.html">Bootstrap</a></li>
        </ul>
        <div id="content">
          Hello World! Welcome to my ultimate frisbee coaching blog!

          I currently coach for the University of Memphis Men's Club Ultimate Team. We are called Memphis Bluff!

          Here is a history of teams that I have played for:
          <table>
            <tr>
              <tc>
            </tr>
          </table>
          <ol>
            <li>White Station High School: 3 If By Sky - Memphis, TN - 2010 to 20</li>
            <li>Brah - Memphis, TN - 2012</li>
            <li></li>
          </ol>
        </div>
        <main>

        </main>
    </body>
</html>
