<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>JT Williams</title>
    </head>

    <body>
        <nav>
          <div>
            <div>
              <a href="index.html">Home</a>
            </div>
            <div>
                <a href="reading.html">Reading</a>
            </div>
            <div>
                <a href="ultimate.html">Ultimate</a>
            </div>
            <div>
                <a href="videogames.html">Video Games</a>
            </div>
            <div>
                <a href="deutsch.html">Deutsch</a>
            </div>
            <div>
                <a href="bootstrap.html">Bootstrap</a>
            </div>
          </div>
        </nav>
        <div>
          Hello World! Welcome to my ultimate frisbee coaching blog!

          I currently coach for the University of Memphis Men's Club Ultimate Team. We are called Memphis Bluff!

          Here is a history of teams that I have played for:
          <table>
            <tr>
              <tc>
            </tr>
          </table>
          <ol>
            <li>White Station High School: 3 If By Sky - Memphis, TN - 2010 to 20</li>
            <li>Brah - Memphis, TN - 2012</li>
            <li></li>
          </ol>
        </div>
        <main>

        </main>
    </body>
</html>
