<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>Video Games</title>
    </head>

    <body>
        <ul id="navbar">
            <li><a id="navbarlist" href="index.html">Home</a></li>
            <li><a id="navbarlist" href="reading.html">Reading</a></li>
            <li><a id="navbarlist" href="ultimate.html">Ultimate</a></li>
            <li><a id="navbarlist" href="videogames.html">Video Games</a></li>
            <li><a id="navbarlist" href="deutsch.html">Deutsch</a></li>
            <li><a id="navbarlist" href="bootstrap.html">Bootstrap</a></li>
        </ul>
        <div id="content">
            Hello, CS50! I have been playing video games since the release of the Ninendo 64!

            This is a list of video games that I am currently playing:
            <ul>
                <li>SNES:</li>
                    <ul>
                        <br>
                        <li>Chrono Trigger by Square</li>
                        <br>
                        <li>Super Mario World by Nintendo</li>
                        <br>
                        <li>Yoshi's Island by Nintendo</li>
                        <br>
                    </ul>
                <br>
                <li>PC:</li>
                    <ul>
                        <br>
                        <li>Magic: The Gathering Arena by Wizards of the Coast</li>
                        <br>
                        <li>Hearthstone by Blizzard</li>
                        <br>
                        <li>Gwent: The Witcher Card Game by CD Projekt RED</li>
                        <br>
                    </ul>
                <br>
                <li>PlayStation 4:</li>
                    <ul>
                        <br>
                        <li>Spyro Reignited Trilogy by Toys for Bob</li>
                        <br>
                        <li>Overwatch by Blizzard</li>
                        <br>
                        <li>Apex Legends by Respawn</li>
                        <br>
                    </ul>
                <br>
            </ul>
        </div>
    </body>
</html>
