<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css"/>
        <title>Video Games</title>
    </head>

    <body>
        <nav>
          <div>
            <div>
              <a href="index.html">Home</a>
            </div>
            <div>
                <a href="reading.html">Reading</a>
            </div>
            <div>
                <a href="ultimate.html">Ultimate</a>
            </div>
            <div>
                <a href="videogames.html">Video Games</a>
            </div>
            <div>
                <a href="deutsch.html">Deutsch</a>
            </div>
            <div>
                <a href="bootstrap.html">Bootstrap</a>
            </div>
          </div>
        </nav>
        <div>
            Hello, world! This is list of video games that I am playing.
        </div>
    </body>
</html>
